---
clusterName: ${CLUSTER_NAME}

# renovate: datasource=docker depName=ghcr.io/siderolabs/installer
talosVersion: v1.12.1
# renovate: datasource=docker depName=ghcr.io/siderolabs/kubelet
kubernetesVersion: v1.35.0

endpoint: https://${CLUSTER_ENDPOINT_IP}:6443
additionalApiServerCertSans: &sans
  - &talosControlPlaneVIP ${CLUSTER_ENDPOINT_IP}
  - 127.0.0.1
additionalMachineCertSans: *sans

clusterPodNets:
  - 10.42.0.0/16
clusterSvcNets:
  - 10.43.0.0/16

# Disable built-in CNI to use Cilium
cniConfig:
  name: none

nodes:
  - hostname: k8s-1
    controlPlane: true
    installDiskSelector:
      wwid: naa.5002538900000000
    ipAddress: 172.16.21.11
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: 78:7b:8a:cc:06:17
        dhcp: true
        mtu: 1500
        vip:
          ip: *talosControlPlaneVIP

  - hostname: k8s-2
    controlPlane: true
    installDiskSelector:
      wwid: naa.5002538900000000
    ipAddress: 172.16.21.12
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: 78:7b:8a:cc:07:ca
        dhcp: true
        mtu: 1500
        vip:
          ip: *talosControlPlaneVIP

  - hostname: k8s-3
    controlPlane: true
    installDiskSelector:
      wwid: naa.5002538900000000
    ipAddress: 172.16.21.13
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: a8:60:b6:24:dd:6e
        dhcp: true
        mtu: 1500
        vip:
          ip: *talosControlPlaneVIP

  - hostname: k8s-4
    controlPlane: false
    installDiskSelector:
      wwid: naa.5002538043584d30
    ipAddress: 172.16.21.14
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: 38:c9:86:0d:dd:db
        dhcp: true
        mtu: 1500

  - hostname: k8s-5
    controlPlane: false
    installDiskSelector:
      wwid: eui.0025385411903f61
    ipAddress: 172.16.21.15
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: 2c:f0:5d:5d:e2:95
        dhcp: true
        mtu: 1500
    patches:
      - "@./patches/manifests/watchdog-timer-config.yaml"
      # Increase pod limit
      - |-
        machine:
          kubelet:
            extraConfig:
              maxPods: 150
      # Mount zfs-hostpath in kubelet
      - |-
        machine:
          kubelet:
            extraMounts:
              - destination: /var/mnt/media
                options:
                  - bind
                  - rshared
                  - rw
                source: /var/mnt/media
                type: bind
    schematic:
      customization:
        systemExtensions:
          officialExtensions:
            - siderolabs/i915
            - siderolabs/intel-ucode
            - siderolabs/zfs

# Global patches
patches:
  - "@./patches/global/machine-features.yaml"
  - "@./patches/global/machine-files.yaml"
  - "@./patches/global/machine-install.yaml"
  - "@./patches/global/machine-kernel.yaml"
  - "@./patches/global/machine-kubelet.yaml"
  - "@./patches/global/machine-network.yaml"
  - "@./patches/global/machine-sysctls.yaml"
  - "@./patches/global/machine-time.yaml"

# Controller patches
controlPlane:
  patches:
    - "@./patches/controller/cluster.yaml"
    - "@./patches/controller/machine-features.yaml"
  schematic:
    customization:
      systemExtensions:
        officialExtensions:
          - siderolabs/i915
          - siderolabs/intel-ucode

# Worker patches
worker:
  patches: []
  schematic:
    customization:
      systemExtensions:
        officialExtensions:
          - siderolabs/i915
          - siderolabs/intel-ucode
