---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/monitoring.coreos.com/prometheusrule_v1.json
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: external-dns-rules
spec:
  groups:
    - name: external-dns.rules
      rules:
        - alert: ExternalDNSCloudflareStale
          annotations:
            description: |
              ExternalDNS ({{ $labels.job }}) has not synced successfully in the last five
              minutes. This can lead to missing or outdated DNS entries, which will lead to
              service disruption. Check the ExternalDNS logs for more information.
            # runbook_url:
            summary: >-
              ExternalDNS ({{ $labels.job }}) has not synced successfully in the last five minutes.
          expr: |-
            time() - external_dns_controller_last_sync_timestamp_seconds{job="cloudflare-dns"} > 60
          for: 5m
          labels:
            severity: critical
