---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/postgresql.cnpg.io/cluster_v1.json
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: postgres16
spec:
  affinity:
    nodeSelector:
      node-role.kubernetes.io/control-plane: ""
    tolerations:
      - key: node-role.kubernetes.io/control-plane
        operator: Exists
        effect: NoSchedule
  backup:
    barmanObjectStore: &barmanObjectStore
      data:
        compression: bzip2
      destinationPath: s3://cloudnative-pg/
      endpointURL: "http://${MINIO_ADDRESS}:9000"
      s3Credentials:
        accessKeyId:
          key: minio-access-key
          name: cloudnative-pg-secret
        secretAccessKey:
          key: minio-secret-key
          name: cloudnative-pg-secret
      # Note: serverName version needs to be incremented or changed
      # when recovering from an existing cnpg cluster
      serverName: &currentCluster postgres16-v3
      wal:
        compression: bzip2
        maxParallel: 8
    retentionPolicy: 30d
  enableSuperuserAccess: true
  imageName: ghcr.io/cloudnative-pg/postgresql:16.4-56
  instances: 2
  monitoring:
    enablePodMonitor: true
  nodeMaintenanceWindow:
    inProgress: false
    reusePVC: true
  postgresql:
    parameters:
      max_connections: "400"
      shared_buffers: 256MB
  primaryUpdateStrategy: unsupervised
  resources:
    limits:
      memory: 2Gi
    requests:
      cpu: 200m
  storage:
    size: 20Gi
    storageClass: openebs-hostpath
  superuserSecret:
    name: cloudnative-pg-secret
  # Note: previousCluster needs to be set to the name of the previous
  # cluster when recovering from an existing cnpg cluster
  bootstrap:
    recovery:
      source: &previousCluster postgres16-v2
  # Note: externalClusters is needed when recovering from an existing cnpg cluster
  externalClusters:
    - name: *previousCluster
      barmanObjectStore:
        <<: *barmanObjectStore
        serverName: *previousCluster
