---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: rook-ceph-cluster
spec:
  chartRef:
    kind: OCIRepository
    name: rook-ceph-cluster
  interval: 1h
  values:
    cephBlockPools:
      - name: ceph-blockpool
        spec:
          failureDomain: host
          replicated:
            size: 3
        storageClass:
          allowVolumeExpansion: true
          enabled: true
          isDefault: true
          mountOptions:
            - discard
          name: ceph-block
          parameters:
            compression_algorithm: zstd
            compression_mode: aggressive
            csi.storage.k8s.io/controller-expand-secret-name: rook-csi-rbd-provisioner
            csi.storage.k8s.io/controller-expand-secret-namespace: "{{ .Release.Namespace }}"
            csi.storage.k8s.io/fstype: ext4
            csi.storage.k8s.io/node-stage-secret-name: rook-csi-rbd-node
            csi.storage.k8s.io/node-stage-secret-namespace: "{{ .Release.Namespace }}"
            csi.storage.k8s.io/provisioner-secret-name: rook-csi-rbd-provisioner
            csi.storage.k8s.io/provisioner-secret-namespace: "{{ .Release.Namespace }}"
            imageFeatures: layering,fast-diff,object-map,deep-flatten,exclusive-lock
            imageFormat: "2"
          reclaimPolicy: Delete
          volumeBindingMode: Immediate
    cephBlockPoolsVolumeSnapshotClass:
      deletionPolicy: Delete
      enabled: true
      isDefault: false
      name: csi-ceph-blockpool
    cephClusterSpec:
      cephConfig:
        global:
          bdev_async_discard_threads: "1" # quote
          bdev_enable_discard: "true" # quote
          device_failure_prediction_mode: local # requires mgr module
          osd_class_update_on_start: "false" # quote
      cleanupPolicy:
        wipeDevicesFromOtherClusters: true
      crashCollector:
        disable: false
      csi:
        readAffinity:
          enabled: true
      dashboard:
        enabled: true
        prometheusEndpoint: http://prometheus-operated.observability.svc.cluster.local:9090
        ssl: false
        urlPrefix: /
      mgr:
        modules:
          - name: diskprediction_local
            enabled: true
          - name: insights
            enabled: true
          - name: pg_autoscaler
            enabled: true
          - name: rook
            enabled: true
      network:
        connections:
          requireMsgr2: true
        provider: host
      resources:
        mgr:
          limits:
            memory: 1Gi
          requests:
            cpu: 100m
            memory: 512Mi
        mgr-sidecar:
          limits:
            memory: 100Mi
          requests:
            cpu: 50m
            memory: 40Mi
        mon:
          limits:
            memory: 1Gi
          requests:
            cpu: 50m
            memory: 512Mi
        osd:
          limits:
            memory: 4Gi
          requests:
            cpu: 100m
            memory: 1Gi
      storage:
        config:
          osdsPerDevice: "1"
        devicePathFilter: ^/dev/disk/by-id/ata-Samsung_Portable_SSD_T5_.*
        nodes:
          - name: k8s-1
          - name: k8s-2
          - name: k8s-3
        useAllDevices: false
        useAllNodes: false
    cephFileSystems: []
    cephObjectStores: []
    monitoring:
      createPrometheusRules: true
      enabled: true
    route:
      dashboard:
        host:
          name: "${HOSTNAME:=${APP}}.${SECRET_DOMAIN}"
          path: /
          pathType: PathPrefix
        parentRefs:
          - name: envoy-internal
            namespace: network
    toolbox:
      enabled: false
