# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#   @file           :   vars/main.yaml
#   @description    :   ansible-role-{{ role_name }} | OS-specific fixed variables
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
---
# --------------------------------------------------------------------------------------------------
#
# --------------------------------------------------------------------------------------------------
# -- (bool)
# -- (dict)
# -- (float)
# -- (int)
# -- (list)
# -- (str)
# ==================================================================================================
