---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: bazarr
spec:
  dataFrom:
    - extract:
        key: bazarr
    - extract:
        key: cloudnative-pg
    - extract:
        key: plex
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: bazarr-secret
    template:
      data:
        # App
        BAZARR__API_KEY: "{{ .BAZARR_API_KEY }}"
        PLEX_API_TOKEN: "{{ .PLEX_API_TOKEN }}"
        POSTGRES_ENABLED: "true"
        POSTGRES_HOST: &dbHost postgres16-rw.database.svc.cluster.local
        POSTGRES_PORT: "5432"
        POSTGRES_USERNAME: &dbUser "{{ .BAZARR_POSTGRES_USER }}"
        POSTGRES_PASSWORD: &dbPass "{{ .BAZARR_POSTGRES_PASSWORD }}"
        POSTGRES_DATABASE: &dbName bazarr
        # Postgres Init
        INIT_POSTGRES_DBNAME: *dbName
        INIT_POSTGRES_HOST: *dbHost
        INIT_POSTGRES_USER: *dbUser
        INIT_POSTGRES_PASS: *dbPass
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"
      engineVersion: v2
