---
# yaml-language-server: $schema=https://datreeio.github.io/CRDs-catalog/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: alertmanager
spec:
  data:
    - secretKey: HC_HEARTBEAT_URL
      remoteRef:
        key: healthchecks-io
        property: HC_HEARTBEAT_URL
    - secretKey: PAGERDUTY_TOKEN
      remoteRef:
        key: pagerduty
        property: PAGERDUTY_TOKEN
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: alertmanager-secret
    template:
      data:
        ALERTMANAGER_HEARTBEAT_URL: "{{ .HC_HEARTBEAT_URL }}"
        PAGERDUTY_TOKEN: "{{ .PAGERDUTY_TOKEN }}"
