---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app kube-prometheus-stack
spec:
  chart:
    spec:
      chart: kube-prometheus-stack
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
      version: 65.3.2
  dependsOn:
    - name: prometheus-operator-crds
      namespace: observability
    - name: openebs
      namespace: openebs-system
    - name: thanos
      namespace: observability
  install:
    crds: Skip
    remediation:
      retries: 3
  interval: 30m
  timeout: 15m
  upgrade:
    cleanupOnFail: true
    crds: Skip
    remediation:
      retries: 3
      strategy: rollback
  values:
    alertmanager:
      alertmanagerSpec:
        affinity:
          nodeAffinity:
            requiredDuringSchedulingIgnoredDuringExecution:
              nodeSelectorTerms:
                - matchExpressions:
                    - key: node-role.kubernetes.io/control-plane
                      operator: DoesNotExist
        configSecret: alertmanager-secret
        useExistingSecret: true
        replicas: 1
        storage:
          volumeClaimTemplate:
            spec:
              resources:
                requests:
                  storage: 1Gi
              storageClassName: openebs-hostpath
      ingress:
        annotations:
          hajimari.io/appName: AlertManager
          hajimari.io/group: Observability
          hajimari.io/icon: mdi:alert-decagram-outline
        enabled: true
        hosts:
          - "alertmanager.${SECRET_DOMAIN}"
        ingressClassName: internal
        pathType: Prefix
    cleanPrometheusOperatorObjectNames: true
    crds:
      enabled: false
    grafana:
      enabled: false
      forceDeployDashboards: true
      sidecar:
        dashboards:
          annotations:
            grafana_folder: System
    kube-state-metrics:
      fullnameOverride: kube-state-metrics
      metricLabelsAllowlist:
        - pods=[*]
        - deployments=[*]
        - persistentvolumeclaims=[*]
      prometheus:
        monitor:
          enabled: true
          relabelings:
            - action: replace
              regex: (.*)
              replacement: $1
              sourceLabels: ["__meta_kubernetes_pod_node_name"]
              targetLabel: kubernetes_node
    kubeApiServer:
      enabled: true
      serviceMonitor:
        selector:
          k8s-app: kube-apiserver
    kubeControllerManager: &kubeControllerManager
      enabled: true
      service:
        selector:
          k8s-app: kube-controller-manager
    kubeEtcd:
      <<: *kubeControllerManager # etcd runs on control plane nodes
    kubeProxy:
      enabled: false
    kubeScheduler:
      enabled: true
      service:
        selector:
          k8s-app: kube-scheduler
    kubeStateMetrics:
      enabled: true
    kubelet:
      enabled: true
    nodeExporter:
      enabled: true
    prometheus:
      ingress:
        annotations:
          hajimari.io/appName: Prometheus
          hajimari.io/group: Observability
          hajimari.io/icon: simple-icons:prometheus
        enabled: true
        hosts:
          - "prometheus.${SECRET_DOMAIN}"
        ingressClassName: internal
        pathType: Prefix
      prometheusSpec:
        affinity:
          nodeAffinity:
            requiredDuringSchedulingIgnoredDuringExecution:
              nodeSelectorTerms:
                - matchExpressions:
                    - key: node-role.kubernetes.io/control-plane
                      operator: DoesNotExist
        enableAdminAPI: true
        enableFeatures:
          - auto-gomemlimit
          - memory-snapshot-on-shutdown
          - new-service-discovery-manager
        podMetadata:
          annotations:
            secret.reloader.stakater.com/reload: &secret thanos-objstore-secret
        podMonitorSelectorNilUsesHelmValues: false
        probeSelectorNilUsesHelmValues: false
        replicaExternalLabelName: __replica__
        replicas: 1
        resources:
          limits:
            memory: 1500Mi
          requests:
            cpu: 100m
        retention: 2d
        retentionSize: 15GB
        ruleSelectorNilUsesHelmValues: false
        scrapeConfigSelectorNilUsesHelmValues: false
        scrapeInterval: 1m # Must match interval in Grafana Helm chart
        serviceMonitorSelectorNilUsesHelmValues: false
        storageSpec:
          volumeClaimTemplate:
            spec:
              resources:
                requests:
                  storage: 20Gi
              storageClassName: openebs-hostpath
        thanos:
          image: quay.io/thanos/thanos:${THANOS_VERSION}
          objectStorageConfig:
            existingSecret:
              name: *secret
              key: objstore.yml
          version: ${THANOS_VERSION#v}
        walCompression: true
      thanosService:
        enabled: true
      thanosServiceMonitor:
        enabled: true
    prometheus-node-exporter:
      fullnameOverride: node-exporter
      prometheus:
        monitor:
          enabled: true
          relabelings:
            - action: replace
              regex: (.*)
              replacement: $1
              sourceLabels: ["__meta_kubernetes_pod_node_name"]
              targetLabel: kubernetes_node
    prometheusOperator:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: node-role.kubernetes.io/control-plane
                    operator: DoesNotExist
