---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app k8s-gateway
spec:
  chart:
    spec:
      chart: *app
      version: 2.0.2
      sourceRef:
        kind: HelmRepository
        name: k8s-gateway-charts
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 3
  interval: 15m
  maxHistory: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  valuesFrom:
    - kind: ConfigMap
      name: k8s-gateway-helm-values
