---
# yaml-language-server: $schema=https://raw.githubusercontent.com/yannh/kubernetes-json-schema/master/master/persistentvolume-v1.json
apiVersion: v1
kind: PersistentVolume
metadata:
  name: local-media
spec:
  accessModes:
    - ReadWriteMany
  capacity:
    storage: 1Mi
  local:
    path: /var/mnt/media
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
            - key: kubernetes.io/hostname
              operator: In
              values:
                - k8s-5
  persistentVolumeReclaimPolicy: Retain
  storageClassName: local-storage
