# Apple MacOS
.DS_Store

# Microsoft Windows
Thumbs.db

# Kubernetes
kubeconfig
talosconfig

# SOPS
.decrypted~*
*.agekey
*.key

# Taskfile
/.task/

# Brew
Brewfile.lock.json

# Shards
*-shard
*-shard.*

# Folders
/.private/
