# Apple MacOS
.DS_Store

# Microsoft Windows
Thumbs.db

# Ansible
.venv*

# Brew
Brewfile.lock.json

# Kubernetes
kubeconfig

# SOPS
.decrypted~*
*.agekey
*.key

# Secrets
*.secret.env
*.secret.yaml

# Taskfile
.task/
