# Apple MacOS
.DS_Store

# Microsoft Windows
Thumbs.db

# VS Code
*.code-workspace

# shards
*-shard.*

# Kubernetes
kubeconfig

# age
*.agekey

# secrets
secret.y*ml

# sops
.decrypted~*
*.agekey

# temp files
*.log
