[env]
# File paths
KUBECONFIG = "{{config_root}}/kubeconfig"
MINIJINJA_CONFIG_FILE = "{{config_root}}/.minijinja.toml"
SOPS_AGE_KEY_FILE = "{{config_root}}/age.key"
TALOSCONFIG = "{{config_root}}/infrastructure/talos/clusterconfig/talosconfig"

# Python
_.python.venv = { path = "{{config_root}}/.venv", create = true }

[tools]
"aqua:budimanjojo/talhelper" = "3.1.3"
"aqua:FiloSottile/age" = "1.3.1"
"aqua:fluxcd/flux2" = "2.7.5"
"aqua:getsops/sops" = "3.11.0"
"aqua:go-task/task" = "3.46.4"
"aqua:google/yamlfmt" = "0.21.0"
"aqua:helm/helm" = "4.1.0"
"aqua:helmfile/helmfile" = "1.2.3"
"aqua:jqlang/jq" = "1.8.1"
"aqua:kubernetes/kubernetes/kubectl" = "1.35.0"
"aqua:mikefarah/yq" = "4.50.1"
"aqua:mitsuhiko/minijinja" = "2.13.0"
"aqua:siderolabs/talos" = "1.12.2"
"aqua:stern/stern" = "1.33.1"
"aqua:uutils/coreutils" = "0.6.0"
"python" = "3.14.2"
