---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app descheduler
spec:
  chart:
    spec:
      chart: descheduler-charts
      version: 0.25.2
      sourceRef:
        kind: HelmRepository
        name: descheduler
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 3
  interval: 15m
  maxHistory: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  valuesFrom:
    - kind: ConfigMap
      name: descheduler-helm-values
