---
# yaml-language-server: $schema=https://datreeio.github.io/CRDs-catalog/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: paperless-ngx
spec:
  data:
    - secretKey: PAPERLESS_ADMIN_USER
      remoteRef:
        key: paperless-ngx
        property: PAPERLESS_ADMIN_USER
    - secretKey: PAPERLESS_ADMIN_PASSWORD
      remoteRef:
        key: paperless-ngx
        property: PAPERLESS_ADMIN_PASSWORD
    - secretKey: PAPERLESS_SECRET_KEY
      remoteRef:
        key: paperless-ngx
        property: PAPERLESS_SECRET_KEY
    - secretKey: PAPERLESS_NGX_POSTGRES_USER
      remoteRef:
        key: cloudnative-pg
        property: PAPERLESS_NGX_POSTGRES_USER
    - secretKey: PAPERLESS_NGX_POSTGRES_PASSWORD
      remoteRef:
        key: cloudnative-pg
        property: PAPERLESS_NGX_POSTGRES_PASSWORD
    - secretKey: POSTGRES_SUPER_PASS
      remoteRef:
        key: cloudnative-pg
        property: POSTGRES_SUPER_PASS
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: paperless-ngx-secret
    template:
      data:
        # App
        PAPERLESS_ADMIN_USER: "{{ .PAPERLESS_ADMIN_USER }}"
        PAPERLESS_ADMIN_PASSWORD: "{{ .PAPERLESS_ADMIN_PASSWORD }}"
        PAPERLESS_SECRET_KEY: "{{ .PAPERLESS_SECRET_KEY }}"
        PAPERLESS_DBENGINE: postgresql
        PAPERLESS_DBHOST: &dbHost postgres-v17-rw.database.svc.cluster.local
        PAPERLESS_DBPORT: "5432"
        PAPERLESS_DBUSER: &dbUser "{{ .PAPERLESS_NGX_POSTGRES_USER }}"
        PAPERLESS_DBPASS: &dbPass "{{ .PAPERLESS_NGX_POSTGRES_PASSWORD }}"
        PAPERLESS_DBNAME: &dbName paperless
        # Postgres Init
        INIT_POSTGRES_DBNAME: *dbName
        INIT_POSTGRES_HOST: *dbHost
        INIT_POSTGRES_USER: *dbUser
        INIT_POSTGRES_PASS: *dbPass
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"
