---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: coredns
spec:
  chartRef:
    kind: OCIRepository
    name: coredns
  interval: 1h
  values:
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: node-role.kubernetes.io/control-plane
                  operator: Exists
    fullnameOverride: coredns
    image:
      repository: mirror.gcr.io/coredns/coredns
    k8sAppLabelOverride: kube-dns
    replicaCount: 2
    servers:
      - zones:
          - zone: .
            scheme: dns://
            use_tcp: true
        plugins:
          - # enables error logging
            name: errors
          - # Serves a /health endpoint on :8080, required for livenessProbe
            name: health
            configBlock: |-
              lameduck 5s
          - # serves a /ready endpoint on :8181, required for readinessProbe
            name: ready
          - # enables query logging to standard output
            name: log
            configBlock: |-
              class error
          - # serves a /metrics endpoint on :9153, required for serviceMonitor
            name: prometheus
            parameters: 0.0.0.0:9153
          - # enables reading zone data from a Kubernetes cluster
            name: kubernetes
            configBlock: |-
              pods verified
              fallthrough in-addr.arpa ip6.arpa
            parameters: cluster.local in-addr.arpa ip6.arpa
          - # allows for server-side search path completion
            name: autopath
            parameters: "@kubernetes"
          - # facilitates proxying DNS messages to upstream resolvers
            name: forward
            parameters: . /etc/resolv.conf
          - # enables a frontend cache
            name: cache
              prefetch 20
              serve_stale
          - # detects simple forwarding loops and halts the server
            name: loop
          - # allows automatic reload of a changed Corefile
            name: reload
          - # acts as a round-robin DNS load balancer by randomizing the order of A, AAAA, and MX records in the answer
            name: loadbalance
        port: 53
    service:
      name: kube-dns
      clusterIP: 10.43.0.10
    serviceAccount:
      create: true
    tolerations:
      - key: CriticalAddonsOnly
        operator: Exists
      - key: node-role.kubernetes.io/control-plane
        operator: Exists
        effect: NoSchedule
