---
machine:
  install:
    diskSelector:
      wwid: naa.5002538900000000
  type: controlplane
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: k8s-1
---
apiVersion: v1alpha1
kind: Layer2VIPConfig
name: ref+op://area0/talos/CLUSTER_ENDPOINT_VIP
link: ethSel0
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: ethSel0
selector:
  match: glob("a8:60:b6:27:eb:4d", mac(link.hardware_addr))
---
apiVersion: v1alpha1
kind: UserVolumeConfig
name: local-hostpath
provisioning:
  diskSelector:
    match: system_disk
  maxSize: 128GiB
---
apiVersion: v1alpha1
kind: VolumeConfig
name: EPHEMERAL
provisioning:
  diskSelector:
    match: system_disk
  maxSize: 100GiB
