---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: cloudnative-pg
spec:
  data:
    - secretKey: POSTGRES_SUPER_USER
      remoteRef:
        key: cloudnative-pg
        property: POSTGRES_SUPER_USER
    - secretKey: POSTGRES_SUPER_PASS
      remoteRef:
        key: cloudnative-pg
        property: POSTGRES_SUPER_PASS
    - secretKey: MINIO_ACCESS_KEY
      remoteRef:
        key: minio
        property: CNPG_MINIO_ACCESS_KEY
    - secretKey: MINIO_SECRET_KEY
      remoteRef:
        key: minio
        property: CNPG_MINIO_SECRET_KEY
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: cloudnative-pg-secret
    template:
      data:
        username: "{{ .POSTGRES_SUPER_USER }}"
        password: "{{ .POSTGRES_SUPER_PASS }}"
        MINIO_ACCESS_KEY: "{{ .MINIO_ACCESS_KEY }}"
        MINIO_SECRET_KEY: "{{ .MINIO_SECRET_KEY }}"
      metadata:
        labels:
          cnpg.io/reload: "true"
