---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app snapshot-controller
spec:
  chart:
    spec:
      chart: *app
      version: 1.7.2
      sourceRef:
        kind: HelmRepository
        name: piraeus-charts
        namespace: flux-system
  install:
    crds: CreateReplace
    createNamespace: true
    remediation:
      retries: 3
  interval: 15m
  maxHistory: 3
  upgrade:
    cleanupOnFail: true
    crds: CreateReplace
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  valuesFrom:
    - kind: ConfigMap
      name: snapshot-controller-helm-values
