---
nameOverride: &app prowlarr
env:
  PROWLARR__INSTANCE_NAME: Prowlarr
  PROWLARR__LOG_LEVEL: info
  PROWLARR__PORT: &port 9696
  TZ: "${CLUSTER_TIME_ZONE}"
envFrom:
  - secretRef:
      name: *app
image:
  repository: ghcr.io/onedr0p/prowlarr-nightly
  tag: 1.1.0.2251@sha256:d91ea2507ddd8eae9df40c5ff8bb9cc22c4a630ed0b0dca938fb78a6ca72aac7
ingress:
  main:
    annotations:
      nginx.ingress.kubernetes.io/configuration-snippet: |
        proxy_set_header Accept-Encoding "";
        sub_filter '</head>' '<link rel="stylesheet" type="text/css" href="https://theme-park.${SECRET_DOMAIN}/css/base/prowlarr/dark.css"></head>';
        sub_filter_once on;
    enabled: true
    hosts:
      - host: &host "{{ .Release.Name }}.${SECRET_DOMAIN}"
        paths:
          - path: /
            pathType: Prefix
    ingressClassName: nginx
    tls:
      - hosts:
          - *host
persistence:
  backup:
    enabled: true
    mountPath: /config/Backups
    path: "${NAS_NFS_PATH}/backup/app/prowlarr"
    server: "${NAS_ADDRESS}"
    type: nfs
  config:
    enabled: true
    existingClaim: prowlarr-config-v1
podAnnotations:
  secret.reloader.stakater.com/reload: *app
podSecurityContext:
  fsGroup: 568
  fsGroupChangePolicy: "OnRootMismatch"
  runAsGroup: 568
  runAsUser: 568
service:
  main:
    ports:
      http:
        port: *port
