---
nameOverride: &app mealie
additionalContainers:
  api:
    name: mealie-api
    image: docker.io/hkotel/mealie:api-nightly@sha256:bb8a9b7b1483c75938348235962de3bf9b44d535b9ba2a15f89419dcc39874db
    imagePullPolicy: IfNotPresent
    env:
      - name: ALLOW_SIGNUP
        value: "false"
      - name: API_PORT
        value: "9000"
      - name: BASE_URL
        value: "https://recipes.${SECRET_DOMAIN}"
      - name: DEFAULT_EMAIL
        value: "admin@${SECRET_DOMAIN}"
    ports:
      - name: api
        containerPort: 9000
    volumeMounts:
      - name: api-data
        mountPath: /app/data/
      - name: backup
        mountPath: /config/Backups
image:
  repository: docker.io/hkotel/mealie
  tag: frontend-nightly@sha256:ae8f250a80d85640cbcac0dfeec6707c370307d92f70317e563d8a4e2ec1545c
ingress:
  main:
    annotations:
      external-dns.home.arpa/enabled: "true"
      hajimari.io/appName: Recipes
      hajimari.io/group: Home
      hajimari.io/icon: mdi:food
    enabled: true
    hosts:
      - host: &host "recipes.${SECRET_DOMAIN}"
        paths:
          - path: /
            pathType: Prefix
    ingressClassName: nginx
    tls:
      - hosts:
          - *host
persistence:
  api-data:
    enabled: true
    existingClaim: mealie-config-v2
  backup:
    enabled: true
    mountPath: /config/Backups
    path: "${NAS_NFS_PATH}/backup/app/mealie"
    server: "${NAS_ADDRESS}"
    type: nfs
service:
  main:
    ports:
      api:
        enabled: true
        port: 9000
      http:
        port: 3000
