---
nameOverride: &app mealie
additionalContainers:
  api:
    name: mealie-api
    image: docker.io/hkotel/mealie:api-nightly@sha256:8e2ca82ad56a0d3fecb28a5edeb647d81ffcedae3b28bce96c594a4fc9e2ea17
    imagePullPolicy: IfNotPresent
    env:
      - name: ALLOW_SIGNUP
        value: "false"
      - name: API_PORT
        value: "9000"
      - name: BASE_URL
        value: "https://recipes.${SECRET_DOMAIN}"
      - name: DEFAULT_EMAIL
        value: "admin@${SECRET_DOMAIN}"
      - name: TZ
        value: "${CLUSTER_TIME_ZONE}"
    ports:
      - name: api
        containerPort: 9000
    volumeMounts:
      - name: api-data
        mountPath: /app/data/
      - name: backup
        mountPath: /config/Backups
env:
  TZ: "${CLUSTER_TIME_ZONE}"
image:
  repository: docker.io/hkotel/mealie
  tag: frontend-nightly@sha256:faec7877d1b8f16811f12573e3b82d59206a71a166501da186640525d74cece6
ingress:
  main:
    annotations:
      external-dns.home.arpa/enabled: "true"
      hajimari.io/appName: Recipes
      hajimari.io/group: Home
      hajimari.io/icon: mdi:food
    enabled: true
    hosts:
      - host: &host "recipes.${SECRET_DOMAIN}"
        paths:
          - path: /
            pathType: Prefix
    ingressClassName: nginx
    tls:
      - hosts:
          - *host
persistence:
  api-data:
    enabled: true
    existingClaim: mealie-config-v2
  backup:
    enabled: true
    mountPath: /config/Backups
    path: "${NAS_NFS_PATH}/backup/app/mealie"
    server: "${NAS_ADDRESS}"
    type: nfs
service:
  main:
    ports:
      api:
        enabled: true
        port: 9000
      http:
        port: 3000
