---
# TODO: yaml-language-server: $schema=
apiVersion: tuppr.home-operations.com/v1alpha1
kind: TalosUpgrade
metadata:
  name: talos
spec:
  healthChecks:
    # - apiVersion: volsync.backube/v1alpha1
    #   kind: ReplicationSource
    #   expr: |-
    #     status.conditions.filter(c, c.type == "Synchronizing").all(c, c.status == "False")
    - apiVersion: ceph.rook.io/v1
      kind: CephCluster
      expr: |-
        status.ceph.health in ['HEALTH_OK']
  policy:
    rebootMode: powercycle
  talos:
    # renovate: datasource=docker depName=ghcr.io/siderolabs/installer
    version: v1.12.0
