---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: github-token
spec:
  dataFrom:
    - extract:
        key: flux
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: github-token-secret
    template:
      data:
        token: "{{ .FLUX_GITHUB_TOKEN }}"
      engineVersion: v2
