---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default
components:
  - ../../components/common
resources:
  - ./namespace.yaml
  - ./persistent-volume-claim.yaml
  - ./persistent-volume.yaml
  - ./storage-class.yaml
  - ./actual/ks.yaml
  - ./mealie/ks.yaml
  - ./plex/ks.yaml
  - ./prowlarr/ks.yaml
  - ./pocket-id/ks.yaml
  - ./sabnzbd/ks.yaml
  - ./tautulli/ks.yaml
