---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: __NAMESPACE
components:
  - ../../components/common
resources:
  - ./namespace.yaml
  # - ./__APP_NAME/ks.yaml
