---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
configMapGenerator:
  - name: kubelet-csr-approver-helm-values
    files:
      - values.yaml=./helm-values.yaml
configurations:
  - kustomize-config.yaml
resources:
  - ./helm-release.yaml
