{{ ansible_managed | comment }}

# Entries in this file show the compile time defaults.
# You can change settings by editing this file.
# Defaults can be restored by simply deleting this file.
#
# See timesyncd.conf(5) for details.

[Time]
NTP={{ os_ntp_servers.primary | default("") | join(" ") }}
FallbackNTP={{ os_ntp_servers.fallback | join(" ") }}
