---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app weave-gitops
spec:
  chart:
    spec:
      chart: *app
      version: 4.0.12
      sourceRef:
        kind: HelmRepository
        name: weave-gitops-charts
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 3
  interval: 15m
  maxHistory: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  valuesFrom:
    - kind: ConfigMap
      name: weave-gitops-helm-values
    - kind: Secret
      name: weave-gitops-secret
      targetPath: adminUser.passwordHash
      valuesKey: adminPassword
