---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app tubesync
spec:
  chart:
    spec:
      chart: app-template
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      version: 3.5.1
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph
  install:
    remediation:
      retries: 3
  interval: 30m
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
      strategy: rollback
  values:
    controllers:
      tubesync:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            env:
              PGID: ${APP_GID}
              PUID: ${APP_UID}
              TUBESYNC_RESET_DOWNLOAD_DIR: false
              TZ: "${CLUSTER_TIME_ZONE}"
            image:
              repository: ghcr.io/meeb/tubesync
              tag: latest@sha256:eae53d8b1c4d884b40dc34776c592773761307d390e8fda7e7dce8f5e6c4e54e
            nameOverride: *app
    defaultPodOptions:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: node-role.kubernetes.io/control-plane
                    operator: DoesNotExist
      nodeSelector:
        # TODO: Remove role/media nodeSelector once new cluster is built
        role/media: "true"
    ingress:
      app:
        annotations:
          hajimari.io/appName: TubeSync
          hajimari.io/group: Media Management
          hajimari.io/icon: simple-icons:youtube
        className: internal
        enabled: true
        hosts:
          - host: "${HOSTNAME:-${APP}}.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: app
                  port: http
    persistence:
      config:
        enabled: true
        existingClaim: "${APP_PVC:-${APP}}"
        globalMounts:
          - path: /config
      downloads:
        enabled: true
        existingClaim: local-media
        globalMounts:
          - path: /downloads
            subPath: download/tubesync/
    service:
      app:
        controller: *app
        ports:
          http:
            port: 4848
