---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrepository-source-v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: __HELM_REPO_NAME
  namespace: {{ ENV.NS }}
spec:
  interval: 12h
  url: __HELM_REPO_URL
