---
apiVersion: v1
kind: ConfigMap
metadata:
  name: "${APP}-gatus-ep"
  labels:
    gatus.io/enabled: "true"
data:
  config.yaml: |
    endpoints:
      - name: "${APP}"
        alerts: []
        client:
          dns-resolver: tcp://1.1.1.1:53
        conditions:
          - "[STATUS] == ${GATUS_STATUS:-200}"
        group: external
        interval: 1m
        url: "https://${HOSTNAME:-${APP}}.${SECRET_DOMAIN}${GATUS_PATH:-/}"
