# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#   @file           :   defaults/main.yaml
#   @description    :   ansible-role-{{ role_name }} | default variables
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
---
# --------------------------------------------------------------------------------------------------
#
# --------------------------------------------------------------------------------------------------
# -- (bool)
# -- (dict)
# -- (float)
# -- (int)
# -- (list)
# -- (str)
# ==================================================================================================
