---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app external-dns-pihole
spec:
  chart:
    spec:
      chart: external-dns
      sourceRef:
        kind: HelmRepository
        name: external-dns
        namespace: flux-system
      version: 1.14.5
  install:
    remediation:
      retries: 3
  interval: 30m
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
      strategy: rollback
  values:
    domainFilters: ["${SECRET_DOMAIN}"]
    env:
      - name: EXTERNAL_DNS_PIHOLE_SERVER
        valueFrom:
          secretKeyRef:
            name: &secret external-dns-pihole-secret
            key: EXTERNAL_DNS_PIHOLE_SERVER
      - name: EXTERNAL_DNS_PIHOLE_PASSWORD
        valueFrom:
          secretKeyRef:
            name: *secret
            key: EXTERNAL_DNS_PIHOLE_PASSWORD
    extraArgs:
      - --ignore-ingress-tls-spec
      - --ingress-class=internal
    fullnameOverride: *app
    podAnnotations:
      secret.reloader.stakater.com/reload: *secret
    policy: sync
    provider:
      name: pihole
    registry: noop
    serviceMonitor:
      enabled: true
    sources:
      - ingress
      - service
