---
# yaml-language-server: $schema=https://raw.githubusercontent.com/yannh/kubernetes-json-schema/master/master-standalone-strict/configmap-v1.json
apiVersion: v1
kind: ConfigMap
metadata:
  name: cluster-settings
  namespace: flux-system
data:
  # site
  CLUSTER_TIME_ZONE: "America/Chicago"

  # networks
  CLUSTER_POD_CIDR: 10.32.0.0/16
  CLUSTER_SERVICE_CIDR: 10.33.0.0/16
  NET_MANAGEMENT_CIDR: 172.16.10.0/24
  NET_HOME_CIDR: 172.16.20.0/23
  NET_SMARTHOME_CIDR: 172.16.30.0/24
  NET_LEGACY_HOME_CIDR: 172.16.70.0/23
  NET_SHOW_CIDR: 172.16.90.0/24
  NET_NOT_CIDR: 172.16.60.0/24

  # service addresses
  CLUSTER_LB_NGINX_EXTERNAL: 172.16.21.120
  CLUSTER_LB_NGINX_INTERNAL: 172.16.21.121
  CLUSTER_LB_K8S_GATEWAY: 172.16.21.122
  CLUSTER_LB_PLEX: 172.16.21.123
  CLUSTER_LB_CNPG_CLUSTER: 172.16.21.124
  CLUSTER_LB_SPLUNK: 172.16.21.125
  CLUSTER_LB_CRIBL_LEADER: 172.16.21.126
  CLUSTER_LB_CRIBL_WORKER: 172.16.21.127
  CLUSTER_LB_FRIGATE: 172.16.21.128
  CLUSTER_LB_TAILSCALE: 172.16.21.129

  # site addresses
  HOME_ASSISTANT_ADDRESS: 172.16.30.20
  MINIO_ADDRESS: 172.16.70.100
  MQTT_BROKER_ADDRESS: 172.16.30.20
  NAS_ADDRESS: 172.16.70.100
  PIHOLE_ADDRESS: 172.16.70.3
  UNIFI_NETWORK_ADDRESS: 172.16.10.100
  UNIFI_PROTECT_ADDRESS: 172.16.50.100

  # nfs
  NAS_NFS_PATH: /volume1/data
