---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: cluster-apps-cert-manager
  namespace: flux-system
  labels:
    substitution.flux.home.arpa/enabled: "true"
spec:
  healthChecks:
    - apiVersion: helm.toolkit.fluxcd.io/v2beta1
      kind: HelmRelease
      name: cert-manager
      namespace: cert-manager
  interval: 30m
  path: ./kubernetes/apps/cert-manager/cert-manager/app
  prune: true
  retryInterval: 1m
  sourceRef:
    kind: GitRepository
    name: flux-cluster
  timeout: 3m
