---
# TODO: yaml-language-server: $schema=
apiVersion: resource.k8s.io/v1
kind: ResourceClaimTemplate
metadata:
  name: "${APP}-gpu"
spec:
  spec:
    devices:
      requests:
        - name: gpu
          exactly:
            deviceClassName: gpu.intel.com
