---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/grafana.integreatly.org/grafanadatasource_v1beta1.json
apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaDatasource
metadata:
  name: prometheus
spec:
  datasource:
    access: proxy
    editable: false
    isDefault: true
    name: Prometheus
    type: prometheus
    url: http://thanos-query.observability.svc.cluster.local:9090
  instanceSelector:
    matchLabels:
      dashboards: grafana
