---
# yaml-language-server: $schema=https://datreeio.github.io/CRDs-catalog/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: {{ ENV.APP }}
spec:
  # data:
  #   - secretKey: __SECRET_FIELD_NAME
  #     remoteRef:
  #       key: __1PASSWORD_ITEM_1_NAME
  #       property: __1PASSWORD_FIELD_NAME
  #   - secretKey: __SECRET_FIELD_NAME
  #     remoteRef:
  #       key: __1PASSWORD_ITEM_2_NAME
  #       property: __1PASSWORD_FIELD_NAME
  # dataFrom:
  #   - extract:
  #       key: {{ ENV.APP }}
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: {{ ENV.APP }}-secret
    # template:
    #   data:
        {% raw %}
    #     __SECRET_FIELD_NAME: "{{ .__1PASSWORD_FIELD_NAME }}"
        {% endraw %}
