# --------------------------------------------------------------------------------------------------
# defaults
# --------------------------------------------------------------------------------------------------
[defaults]
### Colon-separated paths in which Ansible will search for collections content.
### type | pathspec
### default | collections_path = ~/.ansible/collections:/usr/share/ansible/collections
collections_path = ./.ansible/collections

### This indicates the command to use to spawn a shell under, which is required for Ansible's execution needs on a target.
### type | string
### default | executable = /bin/sh
executable = /bin/bash

### Chooses which cache plugin to use, the default 'memory' is ephemeral.
### type | string
### default | fact_caching = memory
fact_caching = jsonfile

### Defines connection or path information for the cache plugin.
### type | string
### default | fact_caching_connection = None
fact_caching_connection = ~/.ansible/facts_cache

### Set this to "False" if you want to avoid host key checking by the underlying connection plugin Ansible uses to connect to the host.
### type | boolean
### default | host_key_checking = True
host_key_checking = False

### Comma-separated list of Ansible inventory sources.
### type | pathlist
### default | inventory = /etc/ansible/hosts
inventory = ./inventory

### File to which Ansible will log on the controller. When not set the logging is disabled.
### type | path
### default | log_path = None
log_path = ./.ansible/ansible.log

### If you have cowsay installed but want to avoid the 'cows' (why????), use this.
### type | boolean
### default | nocows = false
nocows = true

### Port to use in remote connections, when blank it will use the connection plugin default.
### type | integer
### default | remote_port = None
remote_port = 22

### Colon-separated paths in which Ansible will search for Roles.
### type | pathspec
### default | roles_path = ~/.ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles
roles_path = ./roles:./.ansible/roles:./roles-community:./roles-dev

### This is the default timeout for connection plugins to use.
### type | integer
### default | timeout = 10
timeout = 60
# ==================================================================================================

[ssh_connection]
### Arguments to pass to all SSH CLI tools.
### type | string
### default | "-C -o ControlMaster=auto -o ControlPersist=60s"
ssh_args = -o ForwardAgent=yes
