# --------------------------------------------------------------------------------------------------
# defaults
# --------------------------------------------------------------------------------------------------
[defaults]

### Colon separated paths in which Ansible will search for collections content.
### type | pathspec
### default | collections_path = ~/.ansible/collections:/usr/share/ansible/collections
collections_path = ./collections

### This indicates the command to use to spawn a shell under for Ansible's execution needs on a target.
### type | string
### default | executable = /bin/sh
executable = /bin/bash

### Chooses which cache plugin to use, the default 'memory' is ephemeral.
### type | string
### default | fact_caching = memory
fact_caching = jsonfile

### Defines connection or path information for the cache plugin
### type | string
### default | fact_caching_connection = None
fact_caching_connection = ~/.ansible/facts_cache

### Maximum number of forks Ansible will use to execute tasks on target hosts.
### type | integer
### default | forks = 5
forks = 8

### Set this to "False" if you want to avoid host key checking by the underlying tools Ansible uses to connect to the host
### type | boolean
### default | host_key_checking = True
host_key_checking = False

### Comma separated list of Ansible inventory sources
### type | pathlist
### default | inventory = /etc/ansible/hosts
inventory = ./inventory

### File to which Ansible will log on the controller. When empty logging is disabled.
### type | path
### default | log_path = None
log_path = ./ansible.log

### If you have cowsay installed but want to avoid the 'cows' (why????), use this.
### type | boolean
### default | nocows = false
nocows = true

### Port to use in remote connections, when blank it will use the connection plugin default.
### type | integer
### default | remote_port = None
remote_port = 22

### Colon separated paths in which Ansible will search for Roles.
### type | pathspec
### default | roles_path = ~/.ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles
roles_path = ./roles:./roles-community:./roles-galaxy

### Set the main callback used to display Ansible output, you can only have one at a time.
### type | string
### default | stdout_callback = default
stdout_callback = yaml

### This is the default timeout for connection plugins to use.
### type | integer
### default | timeout = 10
timeout = 60

### Whitelist for variable plugins that require it.
### type | list
### default | vars_plugins_enabled = ['host_group_vars']
vars_plugins_enabled = host_group_vars,community.sops.sops
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
# inventory
# --------------------------------------------------------------------------------------------------
[inventory]

### If 'true' it is a fatal error if every single potential inventory source fails to parse, otherwise this situation will only attract a warning.
### type | boolean
### default | unparsed_is_failed = False
unparsed_is_failed = true
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
# OpenSSH Settings
# --------------------------------------------------------------------------------------------------
[ssh_connection]

### Pipelining, if supported by the connection plugin, reduces the number of network operations required to execute a module on the remote server, by executing many Ansible modules without actual file transfer. This can result in a very significant performance improvement when enabled. However this conflicts with privilege escalation (become). For example, when using 'sudo:' operations you must first disable 'requiretty' in /etc/sudoers on all managed hosts, which is why it is disabled by default. This option is disabled if ANSIBLE_KEEP_REMOTE_FILES is enabled.
### type | boolean
### default | pipelining = False
pipelining = True

### Number of attempts to establish a connection before we give up and report the host as 'UNREACHABLE'
### type | integer
### default | retries = 0
retries = 3

### Preferred method to use when transferring files over ssh. When set to smart, Ansible will try them until one succeeds or they all fail. If set to True, it will force 'scp', if False it will use 'sftp'.
### choices | smart, True, False
### default | scp_if_ssh = smart
scp_if_ssh = smart
# ==================================================================================================
