---
nameOverride: &app theme-park
controller:
  replicas: 1
  strategy: RollingUpdate
env:
  THEME_PARK__PORT: &port 8080
image:
  repository: ghcr.io/onedr0p/theme-park
  tag: 1.13.5@sha256:f0ceff335f36d2bfaf5a641be7c00b45ad6d841512659b12c3c8bb04899319d8
ingress:
  main:
    annotations:
      external-dns.home.arpa/enabled: "true"
      hajimari.io/enable: "false"
    enabled: true
    hosts:
      - host: &host "{{ .Release.Name }}.${SECRET_DOMAIN}"
        paths:
          - path: /
            pathType: Prefix
    ingressClassName: nginx
    tls:
      - hosts:
          - *host
resources:
  limits:
    memory: 50Mi
  requests:
    cpu: 5m
    memory: 10Mi
service:
  main:
    ports:
      http:
        port: *port
topologySpreadConstraints:
  - labelSelector:
      matchLabels:
        app.kubernetes.io/name: *app
    maxSkew: 1
    topologyKey: kubernetes.io/hostname
    whenUnsatisfiable: DoNotSchedule
