---
# yaml-language-server: $schema=https://datreeio.github.io/CRDs-catalog/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: recyclarr
spec:
  data:
    - secretKey: RADARR_API_KEY
      remoteRef:
        key: radarr
        property: RADARR_API_KEY
    - secretKey: RADARR_UHD_API_KEY
      remoteRef:
        key: radarr
        property: RADARR_UHD_API_KEY
    - secretKey: SONARR_API_KEY
      remoteRef:
        key: sonarr
        property: SONARR_API_KEY
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: recyclarr-secret
    template:
      data:
        RADARR_API_KEY: "{{ .RADARR_API_KEY }}"
        RADARR_UHD_API_KEY: "{{ .RADARR_UHD_API_KEY }}"
        SONARR_API_KEY: "{{ .SONARR_API_KEY }}"
