---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: tailscale
spec:
  dataFrom:
    - extract:
        key: tailscale
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: tailscale-secret
    template:
      data:
        TS_AUTHKEY: "{{ .TAILSCALE_AUTH_KEY }}"
        TS_KUBE_SECRET: ""
      engineVersion: v2
