---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app tailscale
spec:
  chart:
    spec:
      chart: app-template
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      version: 3.5.1
  install:
    remediation:
      retries: 3
  interval: 30m
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
      strategy: rollback
  values:
    controllers:
      tailscale:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            env:
              NO_AUTOUPDATE: true
              PORT: &tailnetPort 45387
              TS_EXTRA_ARGS: --accept-routes --advertise-exit-node --advertise-tags=tag:subnet-router
              TS_HOSTNAME:
                valueFrom:
                  fieldRef:
                    fieldPath: metadata.name
              TS_ROUTES: "${NET_MANAGEMENT_CIDR},${NET_HOME_CIDR},${NET_SMARTHOME_CIDR},${NET_LEGACY_HOME_CIDR}"
              TS_STATE_DIR: &path /tmp
              TS_TAILSCALED_EXTRA_ARGS: --debug=0.0.0.0:9001
              TS_USERSPACE: true
              TZ: "${CLUSTER_TIME_ZONE}"
            envFrom: &envFrom
              - secretRef:
                  name: "${APP}-secret"
            image:
              repository: ghcr.io/tailscale/tailscale
              tag: v1.74.1@sha256:a013ce5266e5c796efe31c7cf9562deb21423f8586361d7faadaf675fa4296ac
            nameOverride: *app
            probes:
              liveness: &probes
                custom: true
                enabled: true
                spec:
                  failureThreshold: 3
                  httpGet:
                    path: /debug/pprof/
                    port: &tailscalePort 9001
                  initialDelaySeconds: 15
                  periodSeconds: 20
                  timeoutSeconds: 1
              readiness: *probes
            resources:
              limits:
                memory: 256Mi
              requests:
                cpu: 10m
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop: ["ALL"]
              readOnlyRootFilesystem: true
        replicas: 2
        strategy: RollingUpdate
    defaultPodOptions:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: node-role.kubernetes.io/control-plane
                    operator: DoesNotExist
      securityContext:
        runAsGroup: ${APP_GID}
        runAsNonRoot: true
        runAsUser: ${APP_UID}
        seccompProfile:
          type: RuntimeDefault
      topologySpreadConstraints:
        - labelSelector:
            matchLabels:
              app.kubernetes.io/name: *app
          maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: DoNotSchedule
    persistence:
      cache:
        enabled: true
        globalMounts:
          - path: /.cache
        type: emptyDir
      run:
        enabled: true
        globalMounts:
          - path: /var/run
        type: emptyDir
      tmp:
        enabled: true
        globalMounts:
          - path: *path
        type: emptyDir
    service:
      app:
        controller: *app
        nameOverride: *app
        ports:
          http:
            port: *tailscalePort
      tailnet:
        annotations:
          io.cilium/lb-ipam-ips: "${CLUSTER_LB_TAILSCALE}"
        controller: *app
        ports:
          tailnet:
            port: *tailnetPort
            protocol: UDP
        type: LoadBalancer
    serviceMonitor:
      app:
        enabled: true
        endpoints:
          - interval: 1m
            path: /debug/metrics
            port: http
            scheme: http
            scrapeTimeout: 10s
        serviceName: *app
