---
# yaml-language-server: $schema=https://datreeio.github.io/CRDs-catalog/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: "${APP}-volsync-r2"
spec:
  data:
    - secretKey: RESTIC_ENDPOINT
      remoteRef:
        key: volsync-r2-template
        property: RESTIC_ENDPOINT
    - secretKey: RESTIC_PASSWORD
      remoteRef:
        key: volsync-r2-template
        property: RESTIC_PASSWORD
    - secretKey: VOLSYNC_ACCESS_KEY
      remoteRef:
        key: cloudflare
        property: VOLSYNC_RESTIC_ACCESS_KEY
    - secretKey: VOLSYNC_SECRET_KEY
      remoteRef:
        key: cloudflare
        property: VOLSYNC_RESTIC_SECRET_KEY
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: "${APP}-volsync-r2-secret"
    template:
      data:
        AWS_ACCESS_KEY_ID: "{{ .VOLSYNC_ACCESS_KEY }}"
        AWS_SECRET_ACCESS_KEY: "{{ .VOLSYNC_SECRET_KEY }}"
        RESTIC_PASSWORD: "{{ .RESTIC_PASSWORD }}"
        RESTIC_REPOSITORY: "s3:{{ .RESTIC_ENDPOINT }}/${VOLSYNC_BUCKET_NAME:=volsync}/${APP}"
