---
# yaml-language-server: $schema=https://datreeio.github.io/CRDs-catalog/volsync.backube/replicationsource_v1alpha1.json
apiVersion: volsync.backube/v1alpha1
kind: ReplicationSource
metadata:
  name: "${APP}-r2"
spec:
  restic:
    accessModes:
      - "${VOLSYNC_SNAP_ACCESSMODES:=ReadWriteOnce}"
    cacheAccessModes:
      - "${VOLSYNC_CACHE_ACCESSMODES:=ReadWriteOnce}"
    cacheCapacity: "${VOLSYNC_CAPACITY:=5Gi}"
    cacheStorageClassName: "${VOLSYNC_CACHE_SNAPSHOTCLASS:=ceph-block}"
    copyMethod: Snapshot
    moverSecurityContext:
      fsGroup: ${VOLSYNC_PGID:=1000}
      runAsGroup: ${VOLSYNC_PGID:=1000}
      runAsUser: ${VOLSYNC_PUID:=1000}
    pruneIntervalDays: 14
    repository: "${APP}-volsync-r2-secret"
    retain:
      daily: 7
    storageClassName: "${VOLSYNC_STORAGECLASS:=ceph-block}"
    volumeSnapshotClassName: "${VOLSYNC_SNAPSHOTCLASS:=csi-ceph-blockpool}"
  sourcePVC: "${VOLSYNC_PVC:=${APP}}"
  trigger:
    schedule: "${VOLSYNC_R2_SCHEDULE:=30 0 * * *}"
