---
# yaml-language-server: $schema=https://raw.githubusercontent.com/aclerici38/pocket-id-operator/main/dist/schemas/pocketidinstance_v1alpha1.json
apiVersion: pocketid.internal/v1alpha1
kind: PocketIDInstance
metadata:
  name: pocket-id
spec:
  analyticsDisabled: true
  annotations:
    reloader.stakater.com/auto: "true"
  appUrl: "https://${HOSTNAME:=${APP}}.${SECRET_DOMAIN}"
  encryptionKey:
    valueFrom:
      secretKeyRef:
        name: pocket-id-secret
        key: ENCRYPTION_KEY
  env:
    - name: FILE_BACKEND
      value: s3
    - name: S3_ACCESS_KEY_ID
      valueFrom:
        secretKeyRef:
          name: pocket-id-garage-key
          key: access-key-id
    - name: S3_BUCKET
      value: pocket-id-files
    - name: S3_ENDPOINT
      valueFrom:
        secretKeyRef:
          name: pocket-id-garage-key
          key: endpoint
    - name: S3_FORCE_PATH_STYLE
      value: "true"
    - name: S3_REGION
      valueFrom:
        secretKeyRef:
          name: pocket-id-garage-key
          key: region
    - name: S3_SECRET_ACCESS_KEY
      valueFrom:
        secretKeyRef:
          name: pocket-id-garage-key
          key: secret-access-key
    - name: UPDATE_CHECK_DISABLED
      value: "true"
  image: ghcr.io/pocket-id/pocket-id:v2.3.0-distroless@sha256:85a7485108325e34679b0fbca0baeb8418401f6d6cf59944d50f3ec013aafd09
  metrics:
    enabled: true
  persistence:
    enabled: true
    existingClaim: "${VOLSYNC_PVC:=${APP}}"
  resources:
    limits:
      memory: 256Mi
    requests:
      cpu: 10m
      memory: 64Mi
  route:
    enabled: true
    hostnames:
      - "${HOSTNAME:=${APP}}.${SECRET_DOMAIN}"
    parentRefs:
      - name: envoy-external
        namespace: network
      - name: envoy-internal
        namespace: network
  ui:
    sessionDuration: 43200
