---
# TODO: yaml-language-server: $schema=
apiVersion: pocketid.internal/v1alpha1
kind: PocketIDInstance
metadata:
  name: pocket-id
spec:
  analyticsDisabled: "true"
  annotations:
    reloader.stakater.com/auto: "true"
  appUrl: "https://${HOSTNAME:=${APP}}.${SECRET_DOMAIN}"
  encryptionKey:
    valueFrom:
      secretKeyRef:
        name: pocket-id-secret
        key: ENCRYPTION_KEY
  env:
    - name: UPDATE_CHECK_DISABLED
      value: "true"
    - name: S3_REGION
      valueFrom:
        secretKeyRef:
          name: pocket-id-garage-key
          key: region
    - name: S3_ENDPOINT
      valueFrom:
        secretKeyRef:
          name: pocket-id-garage-key
          key: endpoint
  image: ghcr.io/pocket-id/pocket-id:v2.2.0-distroless@sha256:ad2d21a7b31d6b4f1d999caec794a5b5edeb97fc40801947158d62befd4203e3
  metrics:
    enabled: true
  persistence:
    enabled: true
    existingClaim: "${VOLSYNC_PVC:=${APP}}"
  resources:
    limits:
      memory: 256Mi
    requests:
      cpu: 10m
      memory: 64Mi
  route:
    enabled: true
    hostnames:
      - "${HOSTNAME:=${APP}}.${SECRET_DOMAIN}"
    parentRefs:
      - name: envoy-external
        namespace: network
      - name: envoy-internal
        namespace: network
  s3:
    accessKeyId:
      valueFrom:
        secretKeyRef:
          name: pocket-id-garage-key
          key: access-key-id
    bucket: pocket-id-files
    # endpoint:
    forcePathStyle: "true"
    # region:
    secretAccessKey:
      valueFrom:
        secretKeyRef:
          name: pocket-id-garage-key
          key: secret-access-key
  ui:
    sessionDuration: 43200
