---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app cribl-leader
spec:
  chart:
    spec:
      chart: logstream-leader
      sourceRef:
        kind: HelmRepository
        name: cribl
        namespace: flux-system
      version: 4.9.1
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph
  install:
    remediation:
      retries: 3
  interval: 30m
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
      strategy: rollback
  values:
    config:
      adminPassword: "${SECRET_CRIBL_LEADER_PASSWORD}"
      token: "${SECRET_CRIBL_LEADER_TOKEN}"
    criblImage:
      repository: cribl/cribl
      tag: 4.9.1@sha256:91484a95bf40dd0613a2fe67f02d50e7ff11af7f041b6bd38f8930f855d18b6e
    service:
      externalLoadBalancerIP: "${CLUSTER_LB_CRIBL_LEADER}"
      ports:
        - external: true
          name: api
          port: 9000
          protocol: TCP
        - external: false
          name: leadercomm
          port: 4200
          protocol: TCP
