---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: volsync
spec:
  chartRef:
    kind: OCIRepository
    name: volsync
  interval: 1h
  values:
    manageCRDs: true
    metrics:
      disableAuth: true
    podSecurityContext:
      runAsGroup: ${VOLSYNC_PGID:=1000}
      runAsNonRoot: true
      runAsUser: ${VOLSYNC_PUID:=1000}
    replicaCount: ${REPLICAS:=1}
