---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app external-dns
spec:
  chart:
    spec:
      chart: *app
      version: 1.12.1
      sourceRef:
        kind: HelmRepository
        name: external-dns-charts
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 3
  interval: 15m
  maxHistory: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  valuesFrom:
    - kind: ConfigMap
      name: external-dns-helm-values
