# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#   @file           :   meta/main.yaml
#   @description    :   ansible-role-{{ role_name }} | metadata
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
---
galaxy_info:
  author: Chris Burnham
  description: '{{ role_name }} is used to...'

  license: Unlicense

  min_ansible_version: 2.1

dependencies: []
