---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Flux Local

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

jobs:
  filter:
    name: Flux Local - Filter
    runs-on: ubuntu-latest
    outputs:
      changed-files: ${{ steps.changed-files.outputs.changed_files }}
    steps:
      - name: Get changed files
        id: changed-files
        uses: bjw-s-labs/action-changed-files@1a5aeab1bfa64d0c4e786f501d5a3f1fad4a24da # v0.4.1
        with:
          patterns: kubernetes/**/*

  test:
    name: Flux Local - Test
    needs: filter
    if: ${{ needs.filter.outputs.changed-files != '[]' }}
    runs-on: ubuntu-latest
    steps:
      - name: Generate token
        id: app-token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{ secrets.BOT_APP_ID }}
          private-key: ${{ secrets.BOT_PRIVATE_KEY }}

      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
          token: ${{ steps.app-token.outputs.token }}

      - name: Run flux-local test
        uses: docker://ghcr.io/allenporter/flux-local:v8.0.1
        with:
          args: >-
            test
            --all-namespaces
            --enable-helm
            --path /github/workspace/kubernetes/flux/cluster
            --verbose
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}

  diff:
    name: Flux Local - Diff
    permissions:
      contents: read
      pull-requests: write
    needs: filter
    if: ${{ needs.filter.outputs.changed-files != '[]' }}
    runs-on: ubuntu-latest
    steps:
      - name: Generate token
        id: app-token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{ secrets.BOT_APP_ID }}
          private-key: ${{ secrets.BOT_PRIVATE_KEY }}

      - name: Checkout pull request branch
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          path: pull
          persist-credentials: false
          token: ${{ steps.app-token.outputs.token }}

      - name: Checkout default branch
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          path: default
          persist-credentials: false
          ref: ${{ github.event.repository.default_branch }}
          token: ${{ steps.app-token.outputs.token }}

      - name: Run flux-local diff
        uses: docker://ghcr.io/allenporter/flux-local:v8.0.1
        with:
          args: >-
            diff ${{ matrix.resource }}
            --unified 6
            --path /github/workspace/pull/kubernetes/flux/cluster
            --path-orig /github/workspace/default/kubernetes/flux/cluster
            --strip-attrs "helm.sh/chart,checksum/config,app.kubernetes.io/version,chart"
            --limit-bytes 10000
            --all-namespaces
            --sources "flux-system"
            --output-file diff.patch
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}

      - name: Generate diff
        id: diff
        run: |-
          echo 'diff<<EOF' >> $GITHUB_OUTPUT
          cat diff.patch >> $GITHUB_OUTPUT
          echo 'EOF' >> $GITHUB_OUTPUT

      - name: Add comment
        if: ${{ steps.diff.outputs.diff != '' }}
        uses: marocchino/sticky-pull-request-comment@773744901bac0e8cbb5a0dc842800d45e9b2b405 # v2.9.4
        with:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
          header: ${{ github.event.pull_request.number }}/kubernetes/${{ matrix.resource }}
          message: |-
            ```diff
            ${{ steps.diff.outputs.diff }}
            ```

    strategy:
      matrix:
        resource:
          - helmrelease
          - kustomization
      fail-fast: false

  success:
    name: Flux Local - Success
    needs:
      - test
      - diff
    if: ${{ !cancelled() }}
    runs-on: ubuntu-latest
    steps:
      - name: Any jobs failed?
        if: ${{ contains(needs.*.result, 'failure') }}
        run: exit 1

      - name: All jobs passed or skipped?
        if: ${{ !(contains(needs.*.result, 'failure')) }}
        run: echo "All jobs passed or skipped" && echo "${{ toJSON(needs.*.result) }}"
